# python's bytecode compiled files
__pycache__/
*.pyc

# python virtual environments
venv

# distribution / packaging
*.egg-info/
build/
dist/

# IDE settings directory
.idea/
.vscode/

# macOS specific
.DS_Store

# Jupyter Notebook backups
.ipynb_checkpoints/

# pyenv local Python version
.python-version
