:root {
    --md-primary-fg-color:        #ed7764;
    --md-primary-fg-color--light: #edc7c2;
    --md-primary-fg-color--dark:  #903527;
    --md-accent-fg-color:         #cc5d4c;
    --md-accent-fg-color--light:  #cd9a92;
    --md-accent-fg-color--dark:   #66190e;
}
