{% extends "_base/function.html.jinja" %}
{% block heading scoped %}
  {% set class = function.parent if not root else None %}
  {% if not class.name and config.namespace %}
    {% set function_full_name = config.namespace + "." + function_name %}
  {% elif class.name %}
    {% set function_full_name = class.name + "." + function_name %}
  {% else %}
    {% set function_full_name = function_name %}
  {% endif %}
  {% if config.show_symbol_type_heading %}
    <code class="doc-symbol doc-symbol-heading doc-symbol-{{ symbol_type }}"></code>
  {% endif %}
  {% if config.separate_signature %}
    <span class="doc doc-object-name doc-function-name">{{ function_full_name }}</span>
  {% else %}
    {%+ filter highlight(language="python", inline=True) %}
    {{ function_full_name }}
    {% include "signature"|get_template with context %}
  {% endfilter %}
{% endif %}
{% endblock heading %}
