{% extends "_base/module.html.jinja" %}

{% block heading scoped %}
	{% if not config.table %}
		{% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-module"></code>{% endif %}
		{% if config.separate_signature %}
			<span class="doc doc-object-name doc-module-name">{{ module_name }}</span>
		{% else %}
			<code>{{ module_name }}</code>
		{% endif %}
	{% endif %}
{% endblock heading %}

{% block children scoped %}
	{% set root = False %}
	{% set heading_level = heading_level + 1 %}
	{% if config.table %}
	    {% include "table"|get_template with context %}
	{% else %}
		{% include "children"|get_template with context %}
	{% endif %}
{% endblock children %}
